body, html {
    height: 100%;
    margin: 0;
}

p {
    margin-top: 0px;
    margin-right: 2px;
    margin-bottom: 0px;
    margin-left: 2px;
}

p input {
    height: 28px;
    width: 46px;
    color: #404040;
    padding-left: 1px;
    text-align: center;
    vertical-align: bottom;
    border-radius: 0;
    border: 1px solid #D9D9D9;
}